<a href="https://colab.research.google.com/github/seowon02/colab/blob/main/Lession2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2장 예제

In [3]:
a = 100
b = 200
c = 100 + 200

print(a,"+",b,"=",c)

100 + 200 = 300

In [4]:
num1 = 100
num2 = 50
result = num1 - num2

print(num1,"-",num2,"=",result)

100 - 50 = 50

In [5]:
num1 = 8
num2 = 17
result = num1 * num2

print(num1,"x",num2,"=",result)

8 x 17 = 136

In [6]:
num1 = 8
num2 = 17
result = num1 / num2

print(num1,"/",num2,"=",result)

8 / 17 = 0.47058823529411764

나머지를 구하는 연산자: %

In [9]:
num1,num2 = 4,2
result = num1 % num2

print(num1,"%",num2,"=",result)

4 % 2 = 0

몫을 구하는 연산자: //

In [10]:
num1,num2 = 4,2
result = num1 // num2

print(num1,"//",num2,"=",result)

4 // 2 = 2

문자열 연산자: +,*

In [13]:
str1,str2 = "안산공고","컴퓨터과"
result = str1 + str2

print(str1,"+",str2,"=",result)

안산공고 + 컴퓨터과 = 안산공고컴퓨터과

In [14]:
str1 = "안산공고"
result = str1 * 3

print(str1,"*",3,"=",result)

안산공고 * 3 = 안산공고안산공고안산공고

2장 형성평가 1번째

In [15]:
num1,num2 = 100,200
print(num1,"+",num2,"=",num1+num2)
print(num1,"-",num2,"=",num1-num2)
print(num1,"*",num2,"=",num1*num2)
print(num1,"/",num2,"=",num1/num2)

100 + 200 = 300
100 - 200 = -100
100 * 200 = 20000
100 / 200 = 0.5