<a href="https://colab.research.google.com/github/seowon02/colab/blob/main/Lession6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('난생처음 파이썬 프로그래밍')
print('난생처음 파이썬 프로그래밍')
print('난생처음 파이썬 프로그래밍')

난생처음 파이썬 프로그래밍
난생처음 파이썬 프로그래밍
난생처음 파이썬 프로그래밍

In [3]:
for i in range(3):
  print('난생처음 파이썬 프로그래밍',i)

난생처음 파이썬 프로그래밍 0
난생처음 파이썬 프로그래밍 1
난생처음 파이썬 프로그래밍 2

In [4]:
myList=["짜장면","김밥","라면"]
for i in range(3):
  print(myList[i])

짜장면
김밥
라면

In [5]:
for i in range(2,7,1):
  print(i)

2
3
4
5
6

In [13]:
sum = 0
for i in range(1,100,2):
  sum += i
print(sum)

2500

In [21]:
sum = 0
l = True
for i in range(1,100,2):
  if l == True:
    sum += i
  else:
    sum -= i
  l = not l
print(sum)

-50

In [33]:
inp = int(input("팩토리얼를 구할 수를 찾으시오 : "))
sum = 1
for i in range(1,inp+1,1):
  sum = sum*i
print(sum)

팩토리얼를 구할 수를 찾으시오 : 5
120

In [37]:
inp = int(input("1부터 더할 수를 입력하시오 : "))
sum = 0
for i in range(1,inp+1):
  sum += i
print(sum)

1부터 더할 수를 입력하시오 : 10
55

In [40]:
inp = int(input("1000부터 홀수의 합을 구할 입력하시오 : "))
sum = 0
for i in range(1001,inp+1,2):
  sum += i
print(sum)

1000부터 홀수의 합을 구할 입력하시오 : 2000
750000

In [44]:
for i in range(3):
  for ii in range(2):
    print("i :",i,", ii :",ii)

i : 0 , ii : 0
i : 0 , ii : 1
i : 1 , ii : 0
i : 1 , ii : 1
i : 2 , ii : 0
i : 2 , ii : 1

In [47]:
for i in range(1,10):
  for ii in range(1,10):
    print(i,"*",ii,"=",i*ii)
  print("----------")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
----------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
----------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
----------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
----------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
----------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
----------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
----------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
----------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
----------